.whole-app {
  background: rgb(33, 89, 60);
  background: linear-gradient(
    180deg,
    rgba(33, 89, 60, 1) 0%,
    rgba(77, 122, 99, 1) 92%
  );
  border-radius: 10px;
  display: block;
  font-family: "Manjari", sans-serif;
  margin: 30px auto;
  margin-bottom: 0;
  max-width: 650px;
  padding: 30px;
}

.enter-city {
  display: block;
  margin: 0 auto;
  padding: 5px;
  width: 300px;
}

.search-city {
  background-color: #c7d5ce;
  border: 0;
  border-radius: 3px;
  color: #21593c;
  display: block;
  font-weight: bold;
  height: 38px;
  left: 10px;
  margin: 0 auto;
  position: relative;
  transition: all 150ms ease-in-out;
  width: 130px;
}

.search-city:hover {
  color: #c7d5ce;
  background-color: #5d8670;
}

.current-location {
  background-color: #c7d5ce;
  border: 0;
  border-radius: 3px;
  color: #21593c;
  display: block;
  font-weight: bold;
  height: 38px;
  margin: 0 auto;
  transition: all 150ms ease-in-out;
  width: 130px;
}

.current-location:hover {
  color: #c7d5ce;
  background-color: #5d8670;
}

.actual {
  color: #c7d5ce;
  padding: 15px;
  text-align: center;
}
.act-loc {
  font-size: 30px;
  margin: 0 auto;
}

.act-date-time {
  font-size: 18px;
  margin: 0 auto;
}

.act-weather {
  margin: 0 auto;
}

.act-weather:first-letter {
  text-transform: capitalize;
}

.act-temp {
  font-size: 55px;
  margin: 0 auto;
}

.act-temp-units {
  color: #c7d5ce;
  font-size: 40px;
}

.act-temp-cel {
  color: #c7d5ce;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.act-temp-cel:hover {
  color: #5d8670;
}

.act-temp-fahr {
  color: #c7d5ce;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.act-temp-fahr:hover {
  color: #5d8670;
}

.act-temp-unit {
  display: block;
  font-size: 40px;
  margin: 0 auto;
}

#current-weather-icon {
  font-size: 56px;
}

.act-humid {
  margin: 0 auto;
  font-size: 15px;
  text-align: center;
}

.fa-wind {
  font-size: 25px;
}

.act-wind {
  font-size: 15px;
  text-align: center;
}

.weather-comment {
  font-size: 16.5px;
  position: relative;
  top: 8px;
}

.forecast {
  color: #21593c;
  font-size: 20px;
  text-align: center;
}

.day-one {
  background-color: #c7d5ce;
  border-radius: 3px;
  margin: 5px auto;
  max-width: 650px;
  padding: 10px;
}

.forecast-text {
  margin: 5px auto;
}

.fa-droplet {
  font-size: 25px;
  position: relative;
  top: 2px;
}

.day-two {
  background-color: #c7d5ce;
  border-radius: 3px;
  margin: 5px auto;
  max-width: 650px;
  padding: 10px;
}

.day-three {
  background-color: #c7d5ce;
  border-radius: 3px;
  margin: 5px auto;
  max-width: 650px;
  padding: 10px;
}

.fa-cloud {
  position: relative;
  top: 5px;
}

.day-four {
  background-color: #c7d5ce;
  border-radius: 3px;
  margin: 5px auto;
  max-width: 650px;
  padding: 10px;
}

.fa-cloud-sun {
  font-size: 25px;
  position: relative;
  top: 5px;
}

.day-five {
  background-color: #c7d5ce;
  border-radius: 3px;
  margin: 5px auto;
  max-width: 650px;
  padding: 10px;
}

.weather-app-wrapper {
  margin: 30px auto;
  max-width: 650px;
}

.open-source-link {
  color: #21593c;
  transition: all 150ms ease-in-out;
}

.open-source-link:hover {
  color: #5d8670;
}

.coder {
  color: #21593c;
}
